.head {
    text-align: center;
    padding: 20px;
    top: 0px;
    position: sticky;
    background-image: url(./images/1.jpg);
    height: 175px;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
#search {
    padding: 10px;
    margin: 15px;
    width: 50%;
    border-radius: 20px 0px 20px 0px;
    border: 2px solid black;
    opacity: 0.75;
    
}
#button{
    padding: 0px 10px 0px 10px;
    height: 25px;
    width: 70px;
    border: 1px solid black;
    opacity: 0.75;
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    color: rgba(245, 219, 107, 0.959);
    background-color: rgba(0, 0, 0, 0.918);
    border: 1px dotted rgb(0, 0, 0);
    top: 175px;
    position: sticky;
    text-shadow: 1px 1px rgb(255, 255, 255);
}
.para {
    text-align: center;
}

.box{
    border: 2px outset black;
    padding: 20px 20px 30px 20px;
    margin: 20px;
    background-color:rgba(255, 253, 232, 0.349);
}

.main {
    padding: 0px 10px;
    line-height: 40px;
}

.main1 {
    padding: 0px 10px;
    line-height: 40px;
}

.main2 {
    padding: 0px 10px;
    text-align:initial;
    line-height: 40px;
}

.main3 {
    padding: 0px 10px;
    text-align: justify;
    line-height: 40px;
}

.nodata {
    font-weight: bolder;
    text-align: center;
    color: red;
    font-size: larger;
}

